{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
WTForms
{% endblock %}

{% block body %}
<div class="container">
    

        <form action="/" method="POST">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            
            {{ wtf.form_field(form.recaptcha) }}

            
            <input class="btn btn-primary" type="submit" value="Submit">

                    </form>
</div>
{% endblock %}